doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li My text
      li.
        My second text
    input(type='text').class-name#id-name

    - var condition = true
    if condition
      p It's true

    block content

